.mercede-navbar {
    width: 100%;
    height: 60px;
    background-color: #52154E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px groove #F9CFF2;
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li {
    display: inline;
    padding: 25px;
    color: bisque;
}
}